body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    width: 100%;
    margin: 0 auto;
    background: whitesmoke;
    color: black;
    padding: 1em 0;
    padding-bottom: 0.00835px;
    text-align: center;
}

h1 {
    text-align: center;
}


/*自己紹介*/
#projects {
    margin-top: 20px;
}

#about h2 {
    text-align: center;
}

#about {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    margin-bottom: 1px;
    padding-bottom: 1px;
    margin-top: 5em;
}

.sya img {
    width: 130px;
    height: 160px;
    position: absolute;
    top: 288px;
    position: absolute;
    left: 580px;
}

@media screen and (max-width:1490px) {
    .sya img {
        width: 100px;
        height: 130px;
        position: absolute;
        top: 310px;
        position: absolute;
        left: 400px;
    }

    .tec {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 30px;
        padding: 10px 60px;
        flex-wrap: wrap
    }

    .tec li {
        display: inline;
        padding-bottom: 1px;
        display: block;
        text-decoration: none;
        color: black;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }
}

/*使用したことがる*/
#projects h2 {
    text-align: center;
    padding-top: 15px;

}

#projects {
    background-color: whitesmoke;
    width: 60%;
    margin: 0 auto;
    margin-top: 100px; /*自己紹介とできることの間*/

}

.yok {
    display: flex;
}

@media screen and (min-width:1491px) {

    .tec {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 50px;
        padding: 10px 100px;
        flex-wrap: wrap
    }

    .tec li {
        display: inline;
        padding-bottom: 1px;
        display: block;
        text-decoration: none;
        color: black;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }
}

